@import "tailwindcss";

body {
  background-color: #f4eedf;
  margin: 0;
  padding: 0;
}

/* Scrolling text animation for long titles */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
